REPORTS_DEPO_DIRECTORY=/mnt/share/
GPB_VALIDATION_RECIPIENT=
MAIL_SERVER_NAME=
MAIL_1_USERNAME=
MAIL_1_ADDRESS=
MAIL_1_PASSWORD=
MAIL_POLL_INTERVAL_SEC=60
MAIL_IMAP_PORT=993
MAIL_SMTP_PORT=587
MAIL_MOCK=0
CIFS_USERNAME=
CIFS_PASSWORD=
REGION_LK_BASE_URL=https://lk-test.region-dk.ru
REGION_LK_EMAIL=
REGION_LK_PASSWORD=
REGION_LK_ORGANIZATION_ID=13
REGION_LK_TIMEOUT=30
REGION_LK_SSL_VERIFY=1
REGION_PROXY_URL=
REGION_LK_POLL_INTERVAL=2
REGION_LK_WAIT_TIMEOUT=120
